{%extends 'folio/layout.html'%}
{%load static%}

 {%block style%}
 <style>
  .boxes{
    border: 1px solid black;
    box-shadow: 2px 4px 5px rgb(134, 129, 129);
  }
 </style>
    {%endblock%}

{%block content%}
  <div class="container py-5 mt-5">
    <h1 class="mb-4 text-center custom-shadow">Leadership & Awards</h1>

    <div class="row">
      <!-- Leadership Section -->
      <div class="col-lg-6 mb-4">
        <h3 class="mb-3 custom-shadow text-center">Leadership</h3>
        <div class="card mb-3 boxes">
          <div class="card-body">
            <h5 class="card-title">Vice President – Computer Science Club Club</h5>
            <h6 class="card-subtitle text-muted mb-2">2024–Present</h6>
            <p class="card-text">Led a team of 15 students, organized monthly tech talks, and expanded membership by 40%.</p>
          </div>
        </div>
         <div class="card mb-3 boxes">
          <div class="card-body">
            <h5 class="card-title">President – NSBE Eastern Illinois University</h5>
            <h6 class="card-subtitle text-muted mb-2">2025–Present</h6>
            <p class="card-text">Helped the team qualify for national competitions and managed sponsorship outreach.</p>
          </div>
        </div>

        <div class="card mb-3 boxes">
          <div class="card-body">
            <h5 class="card-title">Math Tuto – Eastern Illinois University</h5>
            <h6 class="card-subtitle text-muted mb-2">2025–present</h6>
            <p class="card-text">Coordinated university-wide science fairs and hosted speaker sessions.</p>
          </div>
        </div>
      </div>

      <!-- Awards Section -->
      <div class="col-lg-6 mb-4">
        <h3 class="mb-3 custom-shadow text-center">Awards</h3>

        <ul class="list-group">
           <li class="list-group-item">
            <strong>Havard’s CS50 Web Programming </strong> – Sept 2025
          </li>
          <li class="list-group-item">
            <strong>Dean’s List</strong> – May 2025
          </li>
           <li class="list-group-item">
            <strong> Dulgar Award </strong> – May 2025
          </li>
          <li class="list-group-item">
            <strong> Vogel Freshman 

              Exam Winner Award</strong> – May 2025
          </li>
          <li class="list-group-item">
            <strong>Mathematics Alumni scholarship </strong> – May 2025
          </li>
           <li class="list-group-item">
            <strong> Edson H.Taylor award </strong> – May 2025
          </li>
        </ul>
      </div>
    </div>
  </div>

{%endblock%}