{%extends 'folio/layout.html'%} 
{%load static%}

{%block style%}
<style>
    .custom-shadow{
        background-color: rgb(221, 231, 234);
       
    }
</style>
{%endblock%}
{%block content%}

            <!--SHOW CASE SECTION-->
                    <section class="bg-light text-dark p-5 p-lg-0 pt-lg-4 text-center text-sm-start">
                <div class="container">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <img class="mt-5 img-fluid w-50 d-sm-block rounded-circle" src="media/products/image.jpg" alt="ey">
                        <div class="ms-5">
                            <h1>Who is <span class="text-info">Idrice junior ?</span></h1>
                            <h5><small>click <b><a href="{% url 'experience'%}">here</a></b> for more</small></h5>
                            <p class="lead my-4 border p-2"><span class="text-secondary fw-bold">Education</span><br>
                                <span class="text-secondary"> - Eastern Illinois University, Illinois, IL</span><br>
                                <span class="text-secondary"> - Bachelor of science in Computer science & Mathematics</span><br>
                                <span class="text-secondary"> - Expected May 2028</span><br>
                                <span class="text-secondary"> - GPA 3.90/4</span><br>
                            </p>
                             <p class="lead my-4 border p-2"><span class="text-secondary fw-bold">Skills</span><br>
                                 <span class="text-secondary">Programming Languages:<br> Python,JavaScript,C,C++<br>,Java,SQL,HTML,CSS</span><br>
                                <span class="text-secondary">Tools/Frameworks:<br> TensorFlow, PyTorch,Numpy, Pandas,Django, React.js, Nextjs, Bootstrap</span><br>
                            </p>
                             <p class="lead my-4 border p-2"><span class="text-secondary ">Spoken Languages:<br>
                                French - Fluent<br>
                                English - Fluent
                            </span> 
                            </p>
                            <div class="row">
                                <div class="col text-center mb-4">
                                    <a class="btn btn-danger" href="media/products/resume-t.pdf">download cv
                                    
                                    </a>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </section>

            <!--FuN FACT ABOUT ME-->
             <section id="learn" class="p-5">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md">
                            <img class="img-fluid" src="media/products/fundamentals.svg" alt=" image not found">
                        </div>
                        <div class="col-md p-5">
                            <h2>Fun fact about me</h2>
                            <p class="lead">Although I enjoy many different things, the few listed below truly capture what defines and shapes me the most</p>
                            <p>Curiosity is my greatest source of energy. I’m always eager to understand why things are the way they are, and why they work one way instead of another.

For fun, I enjoy playing soccer, going to the gym, eating good food, and getting some quality sleep. I also like taking pictures—sometimes in front of fast-moving cars, in new places, or even in unusual, unexpected spots.</p>
                            <a href="#" class="btn btn-light mt-3">
                            <i class="bi-chevron-right"></i> Read More
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!--    Contact info -->
                <section class="p-5 d-flex justify-content-center align-items-center custom-shadow" >
                 <form method="POST" action="{%url 'index'%}">
                    {%csrf_token%}
                    <h2 class="text-center fw-bold">Get In Touch</h2>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" name="name"class="form-control"  name="name" id="name" placeholder="IdriceJr">
                        </div>
                         <div class="mb-3">
                            <label for="Email address" class="form-label">Email address</label>
                            <input type="email" name="email" class="form-control" id="Email address" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="text" class="form-label">Text</label>
                            <textarea class="form-control" name="text" id="text" rows="3"></textarea>
                       </div>
                       <button type="submit" class="btn btn-secondary">Send</button>
                </form>
                </section>




               
              

           

{%endblock%}
